.ruby {
    font-size: 1.5em; /* Adjust text size here */
}
.rt {
    font-size: 0.55em; /* Adjust furigana size here */
}

.custom-text-style {
  color: #2094f3; /* Text color */
  background-color: #272a2f; /* Background color */
  padding: 5px; /* Optional: adds space around the text */
  border-radius: 3px; /* Optional: rounds the corners of the background */
}
